body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  .container {
    background-color: lightgrey;
    padding: 12px;
    width: 50%;
    margin: 0 auto;
    border-radius: 1em;
  }

  .register-button {
    background-color: cornflowerblue;
    color: white;
    padding: 1em;
    cursor: pointer;
    border-radius: 1em;
    border: none;
    width: 100%;
  }

  .register-button:hover {
    background-color: green;
  } 

  input, select, textarea {
    padding: 1em;
    border-radius: 1em;
    border: 1px solid rgb(126, 113, 184, 0.727);
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
  }

  footer {
    background-color: black;
    padding: 2em;
    color: white;
    text-align: center;
  }
  

  table {
    width: 100%;
    background-color: aliceblue;
    border-collapse: collapse;
  }

  th {
    border: 1px solid rgb(189, 188, 188);
    padding: 0.5em;
    text-align: center;
    background-color: gray;
    color: white;
  }

  td {
    border: 1px solid rgb(189, 188, 188);
    padding: 0.5em;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color:rgb(174, 176, 179)
  }

  tr:hover {
    background-color: aquamarine;
  }

  nav{
    width: 100%;
    float: left;
    margin: 0 0 1.5em 0;
    background-color: rgb(46, 46, 46);
    border-bottom: 5px solid red;
    padding: 1em;
  }

  a {
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
  }

  a:hover {
    background-color: white;
    color: black;
  }